@import "vars";

.c-page-banner{
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: 100%;
	padding-bottom: 220px;
}

.banner__top-bg-mb{
	display: none;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
}

.page-banner__top{
	padding-top: 110px;
}

.banner__top-descr{
	background-color: rgba(255, 255, 255, .75);
	padding: 115px;
	padding-bottom: 305px;
	padding-right: 270px;
	max-width: 1150px;
	h2{
		font-size: 36px;
		font-weight: 700;
		line-height: 50px;
		color: #000000;
		margin-bottom: 32px;
	}
	span{
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		color: #000000;
		display: block;
		margin-top: 30px;
	}
	@media (max-width:1000px) {
		display: flex;
		flex-direction: column;
		h2{
			order: 2;
			padding: 0 20px;
			br{
				display: none;
			}
		}
		.banner__top-bg-mb{
			order: 1;
		}
		.boiler__ul{
			order: 3;
			padding-left: 35px;
			padding-right: 20px;
		}
		a{
			order: 4;
			max-width: 318px;
			margin: 0 auto;
			font-size: 16px;
			text-align: center;
			border-radius: 2px;
		}
	}
}

.spec__title{
	font-size: 18px;
	color: $main;
	margin-bottom: 20px;
	display: block;
	font-weight: 600;
}

.specification{
	max-width: 1150px;
	padding-left: 115px;
	padding-right: 67px;
	padding-bottom: 82px;
	background-color: rgba(255, 255, 255, .75);
}

.table__start,
.table-start{
	width: 100%;
	thead{
		tr{
			td{
				padding: 15px;
				background-color: #ededed;
				font-size: 14px;
				font-weight: 700;
				line-height: 17px;
				color: #000000;
				text-align: center;
				border-right: 1px solid #fff;
				&:first-child{
					width: 250px;
					text-align: left;
				}
			}
		}
	}
	tbody{
		tr{
			td{
				background-color: #ffffff;
				border: 1px solid #ededed;
				padding: 15px;
				text-align: center;
				font-size: 12px;
				line-height: 15px;
				font-weight: 400;
				&:first-child{
					text-align: left;
					width: 250px;
				}
				&:nth-child(2){
					width: 76px;
				}
			}
		}
	}
}

.spec__btns{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 93px;
	a{
		width: 480px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		font-weight: 500;
		background-color: #DE4E45;
		color: #ffffff;
		height: 60px;
		text-decoration: none;
		svg{
			margin-left: 10px;
			transition: all .3s ease;
		}
		&:hover{
			text-decoration: none;
			color: #fff;
			background-color: #DE2E26;
		}
	}
	.buy-spec{
		background-color: #DE4E45;
		color: #ffffff;
		&:hover{
			color: #ffffff;
			background-color: #DE2E26;
		}
	}
	.all-spec{
		background-color: #DE4E45;
		color: #ffffff;
		&:hover{
			color: #ffffff;
			background-color: #DE2E26;
		}
	}
	@media (max-width: 500px) {
		a{
			width: 90%;
			margin: 0 auto;
			text-align: center;
		}
	}
}

.all-spec.active{
	svg{
		transform: rotate(180deg);
	}
}

.table__upgrage{
	display: none;
}

.table__start{
	display: none;
}

.table__active{
	display: block;
}

.c-slider,
.c-slider2{
	overflow: hidden;
}

.slider__container,
.slider__container2{
	background: linear-gradient(180deg, #ededed 0%, rgba(255, 255, 255, 0) 100%);
	padding: 0 150px;
	padding-top: 163px;
	padding-bottom: 200px;
}

.slider__container2{
	background: transparent;
}

.slider__title,
.slider__title2{
	margin-bottom: 83px;
	h3{
		font-size: 36px;
		line-height: 52px;
		font-weight: 600;
		color: #000000;
	}
	span{
		font-size: 16px;
		font-weight: 600;
		line-height: 28px;
		display: block;
		color: $gray;
	}
}

.slider__row,
.slider__row2{
	position: relative;
}

.slider__line,
.slider__line2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.slider__item,
.slider__item2{
	margin-right: 35px;
	max-width: 30%;
	margin-bottom: 15px;
	img{
		max-width: 100%;
	}
	@media (max-width: 1600px) {
		max-width: 400px;
		img{
			max-width: 100%;
		}
	}
}

.slider__item-descr,
.slider__item-descr2{
	padding-top: 50px;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: 600;
			color: #000000;
		}
	}
}

.slider__item-title,
.slider__item-title2{
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 15px;
	display: block;
}

.comfort-scene{
	padding-bottom: 200px;
	.inner{
		padding-left: 0;
	}
}

.comfort__container{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
}

.comfort__name{
	position: absolute;
	z-index: 0;
	left: 0;
	width: 1236px;
	height: 448px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 236px;
	background-color: $bgc;
	h3{
		font-size: 36px;
		font-weight: 600;
		line-height: 52px;
		color: $main;
		position: relative;
		&:before{
			position: absolute;
			transition: all .5s ease;
			content: '';
			width: 123px;
			height: 2px;
			background: linear-gradient(270deg, #FD8787 -9.63%, rgba(255, 172, 172, 0) 98.93%);
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
			z-index: 0;
		}
	}
}

.comfort__tabs{
	z-index: 10;
	padding-top: 236px;
	max-width: 1100px;
	width: 100%;
}

.comfort-sec__tabs{
	z-index: 10;
	max-width: 1100px;
	width: 100%;
}

.comfort__tab{
	box-shadow: 0px 25px 65px -45px #bdbcbc;
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 17px 35px;
	margin-bottom: 35px;
	&:last-child{
		margin-bottom: 0;
	}
	span{
		width: 62px;
		height: 62px;
		border-radius: 50%;
		background-color: $bgc;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 55px;
	}
	p{
		margin-bottom: 0;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		color: #000000;
		width: 80%;
	}
}

.c-alternate{
	padding-bottom: 120px;
}

.alt__container{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 190px 150px;
	h3{
		font-size: 36px;
		font-weight: 700;
		line-height: 54px;
		color: #000000;
	}
	@media (max-width: 650px) {
		background-position: right center;
	}
}

.boiler__ul{
	margin: 0;
	padding: 0;
	padding-left: 20px;
	margin-bottom: 35px;
	li{
		font-weight: 700;
	}
}

.consult-top{
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	background-color: #DE4E45;
	height: 60px;
	text-decoration: none;
	svg{
		margin-left: 10px;
		transition: all .3s ease;
	}
	&:hover{
		text-decoration: none;
		color: #ffffff;
		background-color: #DE2E26;
	}
	@media (max-width: 450px) {
		width: 90%;
		max-width: 100% !important;
		margin-left: 20px;
		margin-right: 20px;
	}
}

.comfort-sec{
	padding-bottom: 200px;
	.inner{
		padding-left: 0;
	}
}

.comfort-sec__container{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
}

.comfort-sec__name{
	position: absolute;
	z-index: 0;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1236px;
	height: 448px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 236px;
	background-color: $bgc;
	h3{
		font-size: 36px;
		font-weight: 600;
		line-height: 52px;
		color: $main;
		position: relative;
		&:before{
			position: absolute;
			transition: all .5s ease;
			content: '';
			width: 123px;
			height: 2px;
			background: linear-gradient(270deg, #FD8787 -9.63%, rgba(255, 172, 172, 0) 98.93%);
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
			z-index: 0;
		}
	}
}


.comfort-sec__tab{
	box-shadow: 0px 25px 65px -45px rgba(135,135,135,1);
	background-color: #ffffff;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 17px 35px;
	margin-bottom: 35px;
	&:last-child{
		margin-bottom: 0;
	}
	span{
		width: 62px;
		height: 62px;
		border-radius: 50%;
		background-color: $bgc;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 55px;
	}
	p{
		margin-bottom: 0;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		color: #000000;
		width: 80%;
	}
}

.comfort-red-line{
	margin-bottom: 150px;
}

.comfort__docs{
	padding-top: 100px;
}

.red-line__container{
	background-color: $bgred;
	padding: 93px 0;
	padding-left: 150px;
	padding-right: 77px;
}

.red-line__title{
	margin-bottom: 50px;
	h3{
		color: #ffffff;
		font-size: 30px;
		font-weight: 700;
		line-height: 45px;
	}
	span{
		font-size: 16px;
		color: #ffffff;
		font-weight: 600;
	}
	@media (max-width: 500px) {
		h3{
			br{
				display: none;
			}
		}
	}
}

.red-line__contacts{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	p{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 18px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 0;
		span{
			font-size: 16px;
			font-weight: 600;
			color: #ffffff;
			margin-right: 10px;
		}
	}
	a{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		font-size: 18px;
		font-weight: 700;
		color: #ffffff;
		text-decoration: none;
		margin-left: 40px;
		img{
			margin-right: 10px;
		}
		&:hover{
			color: #ffffff;
			text-decoration: none;
		}
	}
}

.comfort__include{
	padding-bottom: 175px;
}

.include__title{
	padding-left: 150px;
	margin-bottom: 65px;
	h3{
		font-size: 36px;
		font-weight: 700;
		color: #000000;
		margin-bottom: 0;
	}
}

.include__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.include__item{
	max-width: 550px;
	img{
		margin-bottom: 51px;
	}
	span{
		font-size: 24px;
		font-weight: 700;
		color: #000000;
		line-height: 34px;
	}
}

.comfort__complect{
	margin-bottom: 100px;
}

.complect__container{
	background: linear-gradient(180deg, #EDEDED 0%, rgba(255, 255, 255, 0) 100%);
	padding-left: 300px;
	padding-right: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.complect__img{
	width: 60%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.complect__descr{
	width: 40%;
	span{
		font-size: 30px;
		font-weight: 700;
		display: block;
		margin-bottom: 15px;
		color: $main;
	}
	ul{
		margin: 0;
		padding: 0;
		margin-bottom: 60px;
		li{
			list-style-type: none;
			font-size: 18px;
			line-height: 25px;
			font-weight: 400;
			color: #000000;
			margin-bottom: 12px;
		}
	}
	a{
		width: 300px;
		height: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color: #DE4E45;
		color: #ffffff;
		border-radius: 2px;
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
		transition: all .3s ease;
		&:hover{
			text-decoration: none;
			color: #ffffff;
			background-color: #DE2E26;
		}
	}
}

.complect__buy{
	display: none;
	a{
		width: 300px;
		height: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color: #DE4E45;
		color: #ffffff;
		border-radius: 2px;
		font-size: 18px;
		font-weight: 500;
		text-decoration: none;
		transition: all .3s ease;
		&:hover{
			text-decoration: none;
			color: #ffffff;
			background-color: #DE2E26;
		}
	}
}

.comfort__montage{
	padding-bottom: 180px;
}

.montage__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.montage__item{
	background-color: $bgc;
	max-width: 850px;
	padding-left: 150px;
	padding-top: 100px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 100%;
}

.montage__descr{
	max-width: 450px;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			font-size: 16px;
			font-weight: 400;
			color: #000000;
			line-height: 28px;
		}
	}
}

.montage__title{
	font-size: 24px;
	font-weight: 600;
	position: relative;
	line-height: 32px;
	margin-bottom: 15px;
	display: block;
	&:before{
		position: absolute;
		transition: all .5s ease;
		content: '';
		width: 100px;
		height: 2px;
		background: linear-gradient(270deg, #FD8787 -9.63%, rgba(255, 172, 172, 0) 98.93%);
		left: -155px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 0;
	}
}

.montage__icon{
	position: absolute;
	top: 0;
	right: 150px;
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.montage__icon.romb,
.montage__icon2.romb{
	border-radius: 0;
}

.montage__icon{
	&:before{
		content: '';
		position: absolute;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: #ffffff;
		bottom: 0;
		left: -50px;
		transform: rotate(-30deg);
	}
}
.montage__icon.montage__romb{
	&:before{
		content: '';
		border-radius: 0;
		position: absolute;
		width: 34px;
		height: 34px;
		background-color: #ffffff;
		bottom: 0;
		left: -50px;
		transform: rotate(-30deg);
	}
}

.comfort__montage2{
	padding-bottom: 180px;
	padding-top: 100px;
}

.montage__list2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.montage__item2{
	width: 48%;
	padding-left: 150px;
	padding-top: 100px;
	padding-bottom: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	//box-shadow: 0px 40px 25px -25px rgba(239, 244, 247,1);
	box-shadow: 0px 70px 70px -45px rgba(243,234,233,1);

}

.montage__descr2{
	max-width: 450px;
	ul{
		margin: 0;
		padding: 0;
		li{
			list-style-type: none;
			font-size: 16px;
			font-weight: 400;
			color: #000000;
			line-height: 28px;
		}
	}
}

.montage__title2{
	font-size: 36px;
	font-weight: 600;
	position: relative;
	line-height: 32px;
	margin-bottom: 15px;
	color: $main;
	display: block;
	&:before{
		position: absolute;
		transition: all .5s ease;
		content: '';
		width: 100px;
		height: 2px;
		background: linear-gradient(270deg, #FD8787 -9.63%, rgba(255, 172, 172, 0) 98.93%);
		left: -155px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 0;
	}
	@media (max-width: 500px) {
		font-size: 24px;
	}
}

.montage__icon2{
	position: absolute;
	top: 0;
	right: 150px;
	width: 100px;
	height: 100px;
	background-color: $bgc;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.montage__icon2{
	&:before{
		content: '';
		position: absolute;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: $bgc;
		bottom: 0;
		left: -50px;
		transform: rotate(-30deg);
	}
}
.montage__icon2.montage__romb{
	&:before{
		content: '';
		border-radius: 0;
		position: absolute;
		width: 34px;
		height: 34px;
		background-color: $bgc;
		bottom: 0;
		left: -50px;
		transform: rotate(-30deg);
	}
}

.comfort__docs{
	overflow: hidden;
}

.docs__container{
	padding: 0 150px;
	padding-top: 163px;
	padding-bottom: 200px;
}

.docs__title{
	margin-bottom: 83px;
	h3{
		font-size: 36px;
		line-height: 52px;
		font-weight: 600;
		color: #000000;
	}
}

.docs__row{
	position: relative;
	height: 700px;
}

.docs__line{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(200px);
	img{
		margin-right: 35px;
	}
}

.comfort__delivery{
	margin-bottom: 234px;
}

.delivery__container{
	background-color: $bgc;
	padding: 100px 0;
	padding-right: 247px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.delivery__thumb{
	.truck{
		transform: translateX(-215px);
		transition: all 1.5s ease;
		width: 85%;
	}
	.truck.truck-active{
		transform: translateX(65px);
	}
}

.delivery__descr{
	h4{
		font-size: 36px;
		font-weight: 600;
		color: #000000;
		line-height: 48px;
		margin-bottom: 15px;
	}
	span{
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		color: #000000;
		display: block;
	}
}

.comfort__adds{
	padding-bottom: 270px;
	width: 100%;
	.inner{
		padding-left: 235px;
	}
}

.comfort-tab__container{
	width: 900px;
}

.tabs__title{
	margin-bottom: 25px;
	h3{
		font-size: 36px;
		font-weight: 600;
		color: #000000;
		margin-bottom: 0;
	}
}

.tab__block{
	display: none;
}

.tab__links{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.tab__link{
	width: 33.333%;
	padding: 17px 24px;
	background-color: $bgc;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	transition: all .3s ease;
	text-decoration: none;
	svg{
		transition: all .3s ease;
	}
	&:hover{
		color: $main;
		text-decoration: none;
		svg{
			fill: $main
		}
	}
}

.tab__link.active{
	background-color: #ffffff;
	color: $main;
	svg{
		transform: rotate(180deg);
		fill: $main;
	}
}

.adds__tab{
	padding: 0 35px;
	padding-top: 57px;
	padding-bottom: 35px;
	display: none;
	p{
		font-size: 16px;
		margin-bottom: 0;
		font-weight: 400;
		color: #000000;
		line-height: 28px;
	}
}

.adds__tab.active{
	display: block;
}

.c-contacts{
	margin-bottom: 53px;
}

.map-container{
	position: relative;
	max-width: 60%;
	width: 100%;
	&:after{
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		background-color: #ededed;
		top: 0;
		left: -50px;
	}
	.map{
		filter: drop-shadow(0px 4px 40px rgba(137, 137, 137, 0.15));
		width: 995px;
		height: 668px;
	}
	svg{
		width: 100%;
	}
}

.tab-pad{
	display: none;
	position: relative;
	justify-content: center;
	height: 340px;
	.tab{
		left: 50%;
		transform: translateX(-50%);
	}
}

.open-tab{
	position: absolute;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #848484;
	text-decoration: none;
	transition: all 0.3s ease;
	z-index: 1;
	svg{
		transition: all 0.2s ease;
	}
	span{
		position: absolute;
		transition: all 0.2s ease;
		z-index: 10;
		&:before{
			content: '';
			position: absolute;
			transition: all 0.2s ease;
			left: -10px;
			top: 4px;
			width: 6px;
			height: 6px;
			background-color: #848484;
			border-radius: 100%;
			transition: all 0.2s ease;
		}
	}
	&:hover{
		span{
			color: #000;
			text-decoration: none;
			font-size: 18px;
			z-index: 2;
			&:before{
				background-color: #000000;
			}
		}
		svg{
			filter: drop-shadow(3px 7px 10px rgba(233,81,15, 0.15));
		}
	}
}

.open-Kyiv{
	top: 11.7%;
	left: 32.8%;
	color: #000000;
	font-size: 18px;
	&:before{
		background-color: #000;
	}
	span{
		left: 40%;
		top: 27%;
	}
}

.open-Lviv{
	left: -3.4%;
	top: 22.6%;
	span{
		left: 50%;
		top: 25%;
	}
}

.open-Ivano{
	left: -0.5%;
	top: 37%;
	span{
		left: 37%;
		top: 40%;
		width: 200px;
	}
}

.open-Vinni{
	left: 22%;
    top: 32.4%;
	span{
		left: 52%;
		top: 30%;
	}
}

.open-Hmeln{
	left: 12.8%;
    top: 23.6%;
	span{
		left: 46%;
		top: 40%;
	}
}

.open-Odessa{
	top: 53%;
    left: 27.6%;
	span{
		left: 66%;
		top: 65%;
	}
}

.open-Dnipro{
	left: 59.9%;
	top: 40.1%;
	svg{
		width: 72.7%;
	}
	span{
		left: 40%;
		top: 25%;
	}
}

.open-Khark{
	left: 64.1%;
    top: 25.4%;
	span{
		left: 55%;
		top: 20%;
	}
}

.open-tab.open-tab-active{
	font-size: 18px;
	color: $main;
	span{
		&:before{
			background-color: $main;
		}
	}
	svg{
		fill: #ffffff;
	}
}

.tab-title{
	font-size: 30px;
	font-weight: 600;
	color: #000;
	line-height: 47px;
}

.tab-bogemia__logo{
	position: absolute;
	left: 0;
	top: -15px;
}

.tab-container{
	position: relative;
	padding-top: 50px;
	width: 36%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.contact-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: $bgc;
	padding-top: 156px;
	padding-left: 55px;
	padding-bottom: 66px;
}

.map-tab{
	width: 100%;
	background-color: #ffffff;
	padding-top: 64px;
	padding-left: 160px;
	padding-bottom: 64px;
	position: absolute;
	display: none;
	transition: all 0.2s ease;
	top: 0;
	left: 0;
	span{
		display: block;
	}
}

.map-tab.tab-active{
	display: block;
}

.tab-list{
	position: relative;
	width: 100%;
}

.map-table{
	display: none;
	width: 100%;
	justify-content: center;
}

.tab-name{
	font-size: 24px;
	font-weight: 700;
	color: $main;
	margin-bottom: 5px;
	position: relative;
	&:before{
		position: absolute;
		transition: all .5s ease;
		content: '';
		width: 68px;
		height: 2px;
		background: linear-gradient(270deg, #FD8787 -9.63%, rgba(255, 172, 172, 0) 98.93%);
		left: -100px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 0;
	}
}

.tab-addr{
	a{
		display: block;
	}
}

.tab-address{
	font-size: 24px;
	font-weight: 100;
}

.tab-telephone{
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
	&:hover{
		color: #000000;
		text-decoration: none;
	}
}

.tab-email{
	font-size: 24px;
	font-weight: 100;
	color: #000000;
	text-decoration: none;
	&:hover{
		color: #000000;
		text-decoration: none;
	}	
}

.comfort-contact{
	margin-bottom: 0;
}


.contact__form{
	background-color: $bgred;
	padding: 0 150px;
	padding-top: 103px;
	padding-bottom: 124px;
}

.form__descr{
	margin-bottom: 90px;
	h4{
		font-size: 36px;
		font-weight: 700;
		line-height: 54px;
		color: #ffffff;
	}
	p{
		font-size: 18px;
		font-weight: 500;
		color: #ffffff;
		margin-bottom: 0;
	}
}

.form__form{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	form{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
}

.form__field{
	margin-right: 83px;
	position: relative;
	input{
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid #fff;
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		width: 250px;
		padding: 5px 0;
		&::placeholder{
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
		}
	}
	label.error{
		position: absolute;
		left: 0;
		top: -20px;
		color: #ffffff;
		font-size: 12px;
		font-weight: 500;
	}
	&:last-child{
		margin-right: 0;
	}
	.form__submit{
		border: 0;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 218px;
		height: 60px;
		border-radius: 2px;
		color: $main;
		font-weight: 500;
		transition: all .3s ease;
		cursor: pointer;
		svg{
			margin-left: 10px;
			transition: all .3s ease;
		}
		&:hover{
			outline: none;
			svg{
				transform: translateX(10px);
			}
		}
		&:focus{
			outline: none;
		}
	}
}

.comfort__docs{
	overflow: hidden;
}

.docs__container{
	padding: 0 150px;
	padding-top: 163px;
	padding-bottom: 200px;
}

.docs__title{
	margin-bottom: 83px;
	h3{
		font-size: 36px;
		line-height: 52px;
		font-weight: 600;
		color: #000000;
	}
}

.docs__row{
	position: relative;
}

.docs__line{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;
	@media (max-width: 600px) {
		margin-bottom: 40px;
	}
	img{
		width: 24%;
	}
}

.comfort__docs{
	padding-top: 100px;
}

.boilers__docs{
	overflow: hidden;
	@media (max-width: 600px) {
		margin-bottom: 40px;
	}
}

.bdocs__container{
	padding: 0 150px;
	padding-bottom: 200px;
}

.bdocs__title{
	margin-bottom: 83px;
	h3{
		font-size: 36px;
		line-height: 52px;
		font-weight: 600;
		color: #000000;
	}
}

.bdocs__row{
	position: relative;
}

.bdocs__row-mob{
	display: none;
}

.bdocs__line{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;
	@media (max-width: 600px) {
		margin-bottom: 40px;
	}
	img{
		width: 24%;
	}
}

.bdocs__line-mob{
	display: none;
}

.bogemia__container{
	background-color: $bgc;
	position: relative;
	padding-top: 138px;
	padding-bottom: 129px;
	z-index: 10;
}

.parallax__container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	z-index: 0;
}

.parallax-scene{
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
}

.bogemia__descr{
	z-index: 10;
	position: relative;
	padding-left: 150px;
	padding-right: 100px;
}

.bogemia__logo{
	margin-bottom: 60px;
}

.bogemia__short-descr{
	font-size: 28px;
	font-weight: 500;
	color: $orange;
	line-height: 42px;
	margin-bottom: 100px;
}

.bogemia__number{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 150px;
	padding-right: 350px;
	margin-bottom: 91px;
}

.number__item{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	&:first-child{
		.item__num{
			position: relative;
			&:before{
				position: absolute;
				transition: all .5s ease;
				content: '';
				width: 123px;
				height: 2px;
				background: linear-gradient(270deg, #FD8787 -9.63%, rgba(255, 172, 172, 0) 98.93%);
				left: -155px;
				top: 50%;
				transform: translateY(-50%);
				z-index: 0;
			}
		}
	}
}

.item__num{
	font-size: 96px;
	line-height: 117px;
	font-weight: 100;
	color: $orange;
	text-shadow: 0px 0px 15px rgba(255, 157, 181, 0.6), 0px 0px 10px rgba(255, 209, 209, 0.25);
	margin-right: 15px;
}

.item__text{
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #000000;
}

.bogemia__info{
	padding: 0 250px;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #000000;
	margin-bottom: 60px;
}

.bogemia__url{
	display: flex;
	justify-content: flex-end;
	span{
		font-size: 14px;
		font-weight: 500;
		color: #c2c2c2;
		text-decoration: underline;
		transition: all .3s ease;
	}
}