@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  color: #fff;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: #000000;
  background-color: #ffffff;
  padding-top: 56px;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: 1px solid #fff;
    }
    &:required:valid {
      border-color: 1px solid #fff;
    }
  }
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

.ar-bot {
  position: absolute;
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
}

.inner {
  width: 100%;
  position: relative;
  padding: 0 85px;
}

.c-header {
  position: fixed;
  width: 100%;
  height: 88px;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  .inner {
    height: 100%;
  }
}

.header__top-mnu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
}

.hamburger {
  padding-top: 10px;
}

.top-mnu__telephone {
  margin-right: 40px;
  a {
    font-size: 18px;
    font-weight: 500;
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $main;
      text-decoration: none;
    }
  }
}

.hamburger-box {
  width: 30px;
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger--emphatic .hamburger-inner:after {
  top: 8px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 30px;
  height: 2px;
  background-color: $gray;
}

.top-mnu__logo {
  position: absolute;
  left: 0;
  top: 57%;
  transform: translateY(-50%);
}

.mnu__top-logo {
  display: none;
}

.mnu__top-url {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  a {
    width: 55px;
    height: 55px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      border: 1px solid #fff;
      text-decoration: none;
      color: #ffffff;
    }
  }
  a.active {
    border: 1px solid #ffffff;
  }
}

.toggle-mnu {
  position: fixed;
  width: 935px;
  height: 100vh;
  background-color: rgba(222, 70, 60, 0.9);
  padding-top: 27px;
  padding-left: 192px;
  top: 0;
  right: -9999px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.toggle-mnu.active {
  right: -85px;
}

.toggle__hamburger {
  position: absolute;
  top: 20px;
  right: 170px;
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
  }
}

.main-humb {
  display: flex;
  align-items: center;
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    transition: background-color 0.3s ease;
  }
  &:hover {
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: $main;
    }
  }
}

.toggle-mnu__top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 101px;
}

body .country-selector.weglot-inline label {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .country-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

body .country-selector.weglot-inline li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.wg-li {
  width: 55px;
  height: 55px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid #fff;
    text-decoration: none;
    color: #ffffff;
  }
}

.wg-li.wgcurrent {
  border: 1px solid #fff;
}

.toggle-mnu__top.lang-13d {
  margin-bottom: 25px;
}

.toggle-mnu__nav.nav-13d {
  margin-bottom: 0;
}

.toggle-mnu__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

.toggle__nav-link {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 25px;
  position: relative;
  &:hover {
    color: #ffffff;
    text-decoration: none;
    &:before {
      opacity: 1;
      visibility: visible;
      width: 123px;
    }
  }
  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background: linear-gradient(270deg, #fd8787 -9.63%, rgba(255, 172, 172, 0) 98.93%);
    left: -155px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
}

.toggle__nav-link.link-b {
  font-weight: 700;
}

.toggle__nav-link.link-active {
  &:before {
    opacity: 1;
    visibility: visible;
    width: 123px;
  }
}

.toggle-mnu__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.toggle-telephone {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 15px;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.toggle-mail {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.c-footer {
  margin-bottom: 85px;
}

.footer__container {
  border-bottom: 2px solid #a5a5a5;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 650px) {
    flex-direction: column;
    .to__top{
      order: 1;
      margin-bottom: 20px;
    }
    .footer__telephone{
      order: 2;
    }
    .footer__paragone{
      order: 3;
    }
  }
}

.footer__telephone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $main;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    color: $main;
    text-decoration: none;
  }
  svg {
    margin-right: 5px;
  }
}

.footer__paragone {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  color: $main;
  &:hover {
    color: $main;
    text-decoration: none;
  }
  svg {
    margin-left: 5px;
  }
}

.popup__container {
  width: 100%;
  height: 100%;
  background-color: $bgred;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 230px;
}

.popup__head {
  margin-bottom: 90px;
}

.popup__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #ffffff;
}

.popup__body {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popup__content {
  width: 100%;
}

.mfp-close-btn-in .mfp-close {
  font-size: 0;
  background-image: url(../img/mfp-close.png);
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 100;
  top: 30px;
  right: 69px;
}

.popup-window {
  width: 100%;
  height: 100%;
}

.mfp-content {
  width: 100%;
  height: 100%;
}
.mfp-container {
  padding: 0;
  transition: all 0.3s ease;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear,
    right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger {
  padding-top: 10px;
}

.top-mnu__telephone {
  margin-right: 40px;
  a {
    font-size: 18px;
    font-weight: 500;
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $main;
      text-decoration: none;
    }
  }
}

.hamburger-box {
  width: 30px;
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger--emphatic .hamburger-inner:after {
  top: 8px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 30px;
  height: 2px;
  background-color: $gray;
}

.top-mnu__logo {
  position: absolute;
  left: 0;
  top: 57%;
  transform: translateY(-50%);
}

.mnu__top-logo {
  display: none;
}

.mnu__top-url {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  a {
    width: 55px;
    height: 55px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      border: 1px solid #fff;
      text-decoration: none;
      color: #ffffff;
    }
  }
  a.active {
    border: 1px solid #ffffff;
  }
}

.toggle-mnu {
  position: fixed;
  width: 935px;
  height: 100vh;
  background-color: rgba(222, 70, 60, 0.9);
  padding-top: 27px;
  padding-left: 192px;
  top: 0;
  right: -9999px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.toggle-mnu.active {
  right: -85px;
}

.toggle__hamburger {
  position: absolute;
  top: 20px;
  right: 170px;
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
  }
}

.main-humb {
  display: flex;
  align-items: center;
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    transition: background-color 0.3s ease;
  }
  &:hover {
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: $main;
    }
  }
}

@media (max-width: 1550px) {
  .toggle__hamburger {
    right: 125px;
  }
}

.to__top{
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #EDEDED;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease;
  outline: transparent;
  svg{
    transition: all .2s ease;
    fill: #DE2E26;
  }
  &:hover{
    background-color: #DE2E26;
    svg{
      fill: #ffffff;
    }
  }
  &:focus{
    outline: transparent;
  }
}

.mobile-title{
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  display: none;
  padding: 0 20px;
  padding-right: 0;
  @media (max-width: 600px) {
    display: block;
    margin-bottom: 20px;
  }
}
